html *{
   margin: 0;
   padding: 0;
}   
header {
    background-image: url(../Html/Imgs/triatlhon.png);
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
}  
nav a, #general a{
    text-decoration: none;
    color: inherit;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav li, #Distances ul li, #general li, .video li {
   list-style: none;
    color:black;
}  
body {
    width: 100%;
    margin: auto;
    background-color: rgb(237, 237, 237);
}
h2, h3{
    font-size: 300%;
    list-style: none;
    color: black;
    text-align: center;
    text-shadow:0px 5px 5px black ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{ 
    font-size: 400%;
    text-align: center;
    color: white;
    text-shadow:0px 5px 5px black ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
footer {
    background-image: url(../Html/Imgs/footerindex.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 100%;
    text-align: center;
 } 
 footer img{
    width: 40%;
    height: 70%;
}

#navigation .phrase {
    position: relative;
    margin: 0 auto;
}   
#whatis p{
    font-size: 147%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}  
a:hover{
    color:white;
}
.Section1{
    font-size: 150%;
    height: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: solid 1px black;
    box-shadow: 0 0 10px 0;
}
.Section2 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
} 
.Section3 {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
} 
.phrase {
    display: flex;
    height: 550px;
    flex-direction: row;
    align-items: flex-end;
}
ul #general li a{
    text-decoration: none;
    color: black;
    text-shadow: 0px 5px 5px black;
}  
#sport h3 {
    color: black;
    text-shadow: 0px 5px 5px black;
} 
#sports img {
    width: 50%;
    height: 50%; 
} 
.phrase {
    align-items: flex-end;
}
h1 .phrase{
    height: 700px;
    justify-content: center;
    align-items: flex-end;
}
#sports {
    border: solid 1px black;
    box-shadow: 0 0 10px 0;
}
#whatis {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    z-index: 3;
}
#Distances p ul{
    font-size: 75%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}  
#Distances{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#banner {
    background-image: url(../Html/Imgs/banner.png);
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
    box-shadow: 0 0 10px 0;
}
#general{
    font-size: 10;
    text-align: center;
    display: flex;
    height: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items:flex-start;
}
.video li{
    width: 70%;
    height: 60%;
}
.video ul{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items:flex-start;
}
#whatis h2{
    text-align: center;
}